@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
} 

body {
    background-color: #EFF1FA;
    color: #0A3871;
    height: 100vh;
    box-sizing: border-box;
}   

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
}

.result {
    display: flex;
    justify-content: center;
    align-items: fixed;
    height: 100vh;
    border-radius: 50px;
    box-sizing: border-box;
    justify-content: flex-end;
}

.result-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 50px;
    box-sizing: border-box;
    justify-content: flex-end;
}

#encrypt-btn {
    background-color: #0A3871;
}

#decrypt-btn {
    background-color: #D8DFE8;
}

