* {
    margin: 0;
    padding: 0;
} 

body {
    background-color: #EFF1FA;
    color: #0A3871;
    height: 100vh;
    box-sizing: border-box;
}   

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
}

.result {
    display: flex;
    justify-content: center;
    align-items: fixed;
    height: 100vh;
    border-radius: 50px;
    box-sizing: border-box;
    justify-content: flex-end;
}

.result-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 50px;
    box-sizing: border-box;
    justify-content: flex-end;
}

button-e {
    background-color: #0A3871;
}

button-d {
    background-color: #D8DFE8;
}

