@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
} 

.logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
    z-index: 1000; /* Asegura que la imagen esté por encima de otros elementos */
}

body {
    background-color: #EFF1FA;
    color: #0A3871;
    height: 100vh;
    box-sizing: border-box;
}   

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
}

.result {
   position: fixed;
   right: 0;
    top: 0;
    width: 100px;
    height: 100vh;
}

.result-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 50px;
    box-sizing: border-box;
    justify-content: flex-end;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    gap: 24px;
}

.encrypt-btn {
    background-color: #0A3871;
    width: 328px;
    text-align: center;
    padding: 21.5px 0 21.5px 0;
    border-radius: 24px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: white;
}

.desencrypt-btn {
    background-color: #D8DFE8;
    width: 328px;
    text-align: center;
    padding: 21.5px 0 21.5px 0;
    border-radius: 24px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #0A3871;
}

input[type="text"] {
    width: 577px; /* Ancho completo del contenedor */
    height: 48px; /* Altura del input */
    padding: 10px; /* Espaciado interno */
    margin-top: 30px; /* Margen superior */
    margin-bottom: 20px; /* Margen inferior */
    border: none; /* Sin borde */
    display: block;
    box-sizing: border-box; /* Incluir padding y border en el ancho total */
    font-size: 16px; /* Tamaño de la fuente */
    flex-direction: column;
    background-color: #EFF1FA;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #EFF1FA;
}

.input-container {
    position: relative;
    width: 100%;
    background-color: #EFF1FA;
}


label {
    font-size: 16px; /* Tamaño de la fuente */
    color: #333; /* Color del texto */
    font-weight: bold; /* Peso de la fuente */
}

.input-container label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px; /* Tamaño de la fuente */
    color: #0A3871; /* Color del texto */
    pointer-events: none; /* Evitar que el label interfiera con el input */
    transition: 0.2s; /* Transición para el efecto de desplazamiento */
    font-family: "Inter", sans-serif;
    font-size: 32px;
    background-color: #EFF1FA ;
}


/* Estilos para el label cuando el input está enfocado o tiene texto */
input[type="text"]:focus + label,
input[type="text"]:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #333;
}
